.main-container {
    min-height: 400px;
    width: 800px;

    margin: auto;

    display: flex;
    background-color: white;
    box-shadow: 3px 3px 3px black;
}

.side-bar {
    width: 200px;
    
    padding: 5px;
    padding-right: 0px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
}

.content-screen {
    width: 600px;
    padding: 35px;
}

.side-tab {
    border: solid 1px black;
    height: 80px;
    text-align: center;
    font-size: 1.25rem;
    background-color: rgb(224, 224, 224);


    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side-tab:hover {
    opacity: 50%;
    cursor: pointer;
    font-size: 1.3rem;
}

.active-tab {
    border-right: 0;
    background-color: white;
}

.active-tab:hover {
    opacity: 100%;
    cursor: auto;
    font-size: 1.25rem;
}

.content-screen > h1 {
    text-align: center;
    margin-bottom: 15px;
    
}

label {
    display: block;
}

label:nth-child(1) {
    margin-top: 10px;
}

form {
    font-size: 0.85rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px;
    padding: 10px;
}

input {
    margin-bottom: 10px;
}

.button-row {
    display: flex;
    justify-content: space-between;
    font-size: 1.10rem;
    margin-top: 15px;
}

.button-row > button {
    padding: 3px 6px;
}